<div class="jumbotron">
    <h1 class="mb-4">Bienvenue à tous!</h1>
    <p class="lead">La lecture peut être définie comme une activité psychosensorielle qui vise à donner un sens à des signes graphiques recueillis par la vision et qui implique à la fois des traitements perceptifs et cognitifs</p>
    <p></p>

</div>