<div class="jumbotron">
    <h3 class="card-title">Liste des Livres</h3>
<form class="form-horizontal" action="" method="post">
    <fieldset>
        <!-- Name input-->
        <div class="form-group">
            <label class="col-12 control-label no-padding" for="name">ancient password</label>
            <div class="col-12 no-padding">
                <input id="name" name="name" type="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-12 control-label no-padding" for="name">Nouveau password</label>
            <div class="col-12 no-padding">
                <input id="name" name="name" type="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-12 control-label no-padding" for="name">confirme password</label>
            <div class="col-12 no-padding">
                <input id="name" name="name" type="password" class="form-control">
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <div class="col-12 widget-right no-padding">
            <button type="submit" class="btn btn-success btn-md float-right">Modifier</button>
        </div>
    </div>
</form>
</div>